openapi: 3.0.0
info:
  title: 'Public API'
  description: "The 800.com REST API allows developers to interact with their 800.com account programmatically. Whether you are\ninterested in searching vanity phone numbers, automating SMS messages, or creating triggers that auto replies based\non date and time conditions, our API aims to simplify the process while empowering users.\nOur API abides by the REST architectural style best practices.\n## Authentication\nAPI authentication is performed via a bearer token. You can obtain an API Personal Access Token from your\n800.com account, under the User Settings page. From there you are able to generate and manage as many tokens\nas necessary. Note that once a token has been generated we only store the hashed version of it. We are not\nable to retrieve your Personal Access Token in case you lose it.\nOnce you have generated a Personal Access Token you will need to include it with every API call. The token should\nbe placed in the header, under the `authorization` key. The value should be the word `Bearer`, followed by an\nempty space, and then your Personal Access Token:\n\n```json\nAuthorization: Bearer <token>\n```\nThroughout this website there are examples where you can try the endpoints directly from their documentation. If\nyou would like to try the endpoint make sure to add your own Personal Access Token. Note that some endpoints\nmight cost money (e.g. purchasing a number, or starting a new messaging campaign). Please proceed with\ncaution while testing the API endpoints with your live Personal Access Token.\n## Requests\nFor security purposes requests should come through HTTPS.\n### Content Type\nSome of the endpoints requests require a body. The required and optional fields for the body are listed within this\ndocument. All endpoint requests that require a body expect the data as JSON. Whenever that is\nthe case, a `content-type` key should be added to the request header, and the value should\nbe set to `application/json;charset=UTF-8`.\n## Response\n### Codes\nHere is a list of codes that can be returned by the server, and a brief description of their meaning.\n|Code|Description|\n|---|---|\n|200|Success|\n|401|Unauthenticated|\n|422|Request unprocessable|\n|429|Too Many Attempts|\n|500|Server Error|\nOn the rare occasion where the server returns code 500 we politely request that the user contacts our\nsupport team with more details.\n### Response Type\nOur servers will reply to every success call with a JSON response.\n\n## API Rate Limit\nTo prevent abuse our API has a rate limit of 60 calls per minute. An attempt to send more than 60 requests\nwithin a minute will result in every subsequent call to be replied to with a `429 - Too Many Attempts` for a\nfull minute.\nEvidence of the limit can be observed on the header of each response, where `X-RateLimit-Limit` is set\nto 60. If you would like to avoid going over the limit, the headers `X-RateLimit-Remaining` is provided,\ncontaining the amount of calls that can still be made within that minute."
  termsOfService: 'https://www.800.com/terms'
  version: '1.0'
servers:
  -
    url: 'https://api.800.com'
    description: 'The 800.com API server.'
  -
    url: 'https://api.localhost.8dni.xyz/'
    description: Local
  -
    url: 'http://api.localhost.800.com:8080'
    description: Local-http
  -
    url: 'https://dev-api.800.com'
    description: Development
  -
    url: 'https://stage-api.800.com'
    description: Staging
  -
    url: 'https://fallback-api.800.com'
    description: Fallback
paths:
  '/analytics/calls#by-number':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Number'
      description: 'By Number'
      operationId: fetchCallAnalyticsByNumber
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsUniqueCallers'
        -
          $ref: '#/components/parameters/CallAnalyticsAnsweredBy'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'number,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - calls
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithNumber'
  '/analytics/calls#by-tag':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Tag'
      description: 'By Tag'
      operationId: fetchCallAnalyticsByTag
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsUniqueCallers'
        -
          $ref: '#/components/parameters/CallAnalyticsAnsweredBy'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - tag
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byTag
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithTag'
  '/analytics/calls#by-day-and-time':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Day & Time'
      description: 'By Day & Time'
      operationId: fetchCallAnalyticsByDayAndTime
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'day,hour'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byDayTime
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithNumber'
  '/analytics/calls#by-geo':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Geo'
      description: 'By Geo'
      operationId: fetchCallAnalyticsByGeo
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: geo
          name: geo
          in: query
          required: false
          schema:
            description: '2-char state code'
            type: string
            example: TX
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - geo
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byGeo
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithGeo'
  '/analytics/calls#by-duration':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Duration'
      description: 'By Duration'
      operationId: fetchCallAnalyticsByDuration
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsUniqueCallers'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'number,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byDuration
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithNumber'
  '/analytics/calls#by-unique-callers':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Unique Callers'
      description: 'By Unique Callers'
      operationId: fetchCallAnalyticsByUniqueCallers
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsAnsweredBy'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'number,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byUniqueCallers
        -
          parameter: is_first_contact
          name: is_first_contact
          in: query
          required: true
          schema:
            type: boolean
            enum:
              - 'true'
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithNumber'
  '/analytics/calls#by-missed-calls':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Missed Calls'
      description: 'By Missed Calls'
      operationId: fetchCallAnalyticsByMissedCalls
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsAnsweredBy'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'number,day'
              - 'number,hour'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - missedCalls
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithNone'
  '/analytics/calls#by-answered-by':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Answered By'
      description: 'By Answered By'
      operationId: fetchCallAnalyticsByAnsweredBy
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsAnsweredBy'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'answered_by,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byForwardNumber
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithAnsweredBy'
  '/analytics/calls#by-extension':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Extension'
      description: 'By Extension'
      operationId: fetchCallAnalyticsByExtension
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsMinDuration'
        -
          $ref: '#/components/parameters/CallAnalyticsExtensionLabels'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'extension_label,day'
              - 'extension_label,hour'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byExtension
      responses:
        '200':
          description: 'A list of call analytics metrics grouped by extension.'
          content:
            application/json:
              schema:
                title: CallAnalyticsCallsByExtension
                properties:
                  data: { type: array, items: { allOf: [{ $ref: '#/components/schemas/CallAnalyticsExtension' }, { $ref: '#/components/schemas/CallAnalyticsBase' }] } }
                type: object
  '/analytics/calls#by-sentiment':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Sentiment'
      description: 'By Sentiment'
      operationId: fetchCallAnalyticsBySentiment
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsSentiment'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'sentiment,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - bySentiment
      responses:
        '200':
          description: 'A list of call analytics metrics grouped by sentiment.'
          content:
            application/json:
              schema:
                title: CallAnalyticsCallsBySentiment
                properties:
                  data: { type: array, items: { allOf: [{ $ref: '#/components/schemas/CallAnalyticsSentiment' }, { $ref: '#/components/schemas/CallAnalyticsBase' }] } }
                type: object
  '/analytics/calls#by-outcome':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Outcome'
      description: 'By Outcome'
      operationId: fetchCallAnalyticsByOutcome
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsNumberIds'
        -
          $ref: '#/components/parameters/CallAnalyticsTagIds'
        -
          $ref: '#/components/parameters/CallAnalyticsAnswerStatus'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'outcome,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byOutcome
      responses:
        '200':
          description: 'A list of call analytics metrics grouped by outcome (Qualified Lead, Lead, Sales, Appointment, Other).'
          content:
            application/json:
              schema:
                title: CallAnalyticsCallsByOutcome
                properties:
                  data: { type: array, items: { allOf: [{ $ref: '#/components/schemas/CallAnalyticsOutcome' }, { $ref: '#/components/schemas/CallAnalyticsBase' }] } }
                type: object
  '/analytics/calls#by-traffic-source':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Traffic Source'
      description: 'By Traffic Source'
      operationId: fetchCallAnalyticsByTrafficSource
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: attributionModel
          name: attributionModel
          in: query
          required: true
          schema:
            type: string
            enum:
              - first-touch
              - last-touch
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'lead,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byTrafficSource
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithTrafficSource'
  '/analytics/calls#by-dni-pool':
    get:
      tags:
        - 'Call Analytics'
      summary: 'By Tracking Pool'
      description: 'By Tracking Pool'
      operationId: fetchCallAnalyticsByDniPool
      parameters:
        -
          $ref: '#/components/parameters/CallAnalyticsStartDate'
        -
          $ref: '#/components/parameters/CallAnalyticsEndDate'
        -
          $ref: '#/components/parameters/CallAnalyticsCompanyId'
        -
          $ref: '#/components/parameters/CallAnalyticsFormat'
        -
          $ref: '#/components/parameters/CallAnalyticsGroups'
        -
          parameter: group
          name: group
          in: query
          required: true
          schema:
            type: string
            enum:
              - 'dniPool,day'
        -
          parameter: target
          name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - byDniPool
      responses:
        '200':
          $ref: '#/components/responses/CallAnalyticsWithDniPool'
  '/companies/{company}/numbers/datatable':
    get:
      tags:
        - Numbers
      summary: 'Numbers Datatable'
      description: 'Get paginated number details.'
      operationId: listNumberDetails
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: businessUnitId
          name: businessUnitId
          in: query
          schema:
            oneOf:
              -
                type: 'null'
              -
                type: integer
        -
          parameter: accountStatuses
          name: accountStatuses
          in: query
          schema:
            type: array
            items:
              type: App\Enums\CompanyAccountStatus
        -
          parameter: query
          name: query
          in: query
          schema:
            oneOf:
              -
                type: 'null'
              -
                type: string
        -
          parameter: prefixes
          name: prefixes
          in: query
          schema:
            type: array
            items:
              type: string
        -
          parameter: types
          name: types
          in: query
          schema:
            type: array
            items:
              type: App\Business\Numbers\Repositories\SearchRepository\NumberType
        -
          parameter: capabilities
          name: capabilities
          in: query
          schema:
            type: array
            items:
              type: App\Business\Numbers\Repositories\SearchRepository\Capability
        -
          parameter: statuses
          name: statuses
          in: query
          schema:
            type: array
            items:
              type: App\Business\Numbers\Repositories\SearchRepository\Status
        -
          parameter: serviceTypes
          name: serviceTypes
          in: query
          schema:
            type: array
            items:
              type: App\Business\Numbers\Repositories\SearchRepository\ServiceType
        -
          parameter: patterns
          name: patterns
          in: query
          schema:
            type: array
            items:
              type: string
        -
          parameter: verificationStatuses
          name: verificationStatuses
          in: query
          schema:
            type: array
            items:
              type: App\Business\Numbers\Repositories\SearchRepository\VerificationStatus
        -
          parameter: numberPoolType
          name: numberPoolType
          in: query
          schema:
            type: array
            items:
              type: integer
        -
          parameter: vanity
          name: vanity
          in: query
          schema:
            type: boolean
        -
          parameter: isTrackingNumber
          name: isTrackingNumber
          in: query
          schema:
            type: boolean
        -
          parameter: isReadyForCampaign
          name: isReadyForCampaign
          in: query
          schema:
            type: boolean
        -
          parameter: isSmsEnabled
          name: isSmsEnabled
          in: query
          schema:
            type: boolean
        -
          parameter: isMmsEnabled
          name: isMmsEnabled
          in: query
          schema:
            type: boolean
        -
          parameter: sorts
          name: sorts
          in: query
          schema:
            type: array
            items:
              type: string
              enum: []
        -
          parameter: numberTemplateId
          name: numberTemplateId
          in: query
          schema:
            type: integer
        -
          parameter: excludeNumberTemplateIds
          name: excludeNumberTemplateIds
          in: query
          schema:
            type: array
            items:
              type: integer
        -
          parameter: selectedNumberIds
          name: selectedNumberIds
          in: query
          schema:
            type: array
            items:
              type: integer
        -
          parameter: dniPoolIds
          name: dniPoolIds
          in: query
          schema:
            type: array
            items:
              type: integer
        -
          parameter: excludeDniPoolIds
          name: excludeDniPoolIds
          in: query
          schema:
            type: array
            items:
              type: integer
        -
          parameter: sources
          name: sources
          in: query
          description: 'Filter by DNI pool source slugs (OR). Include an empty string to also match numbers without any source.'
          schema:
            type: array
            items:
              type: string
        -
          parameter: onlyAssignableToNumberTemplates
          name: onlyAssignableToNumberTemplates
          in: query
          schema:
            type: boolean
        -
          parameter: isProvisioned
          name: isProvisioned
          in: query
          schema:
            type: boolean
        -
          parameter: minimal
          name: minimal
          in: query
          description: "Same as `fields` = ['id', 'label', 'number']"
          schema:
            type: boolean
        -
          parameter: fields
          name: fields
          in: query
          description: 'Specified which fields should be returned'
          schema:
            type: array
            items:
              type: string
        -
          parameter: searchRelatedEntityFields
          name: 'searchRelatedEntityFields[]'
          in: query
          description: 'Specify which related entity fields to include in search. Available options: dniPoolLabel, numberTemplateName, tagName'
          schema:
            type: array
            items:
              type: string
              enum:
                - dniPoolLabel
                - numberTemplateName
                - tagName
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Companies\Numbers\NumberDataTableCollection
  '/companies/{company}/numbers/datatable/export':
    post:
      tags:
        - Numbers
      summary: 'Export Numbers'
      description: 'Export number details. Uses the same parameters and filtering as the datatable endpoint.'
      operationId: exportNumberDetails
      requestBody:
        $ref: '#/components/requestBodies/NumbersDataTableRequest'
      responses:
        '200':
          description: 'Export file download'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  '/companies/{company}/numbers/stats':
    get:
      tags:
        - Numbers
      summary: 'Number Statistics'
      description: 'Get number statistics for a company.'
      operationId: getNumberStats
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: businessUnitId
          name: businessUnitId
          in: query
          schema:
            oneOf:
              -
                type: 'null'
              -
                type: integer
        -
          parameter: accountStatuses
          name: accountStatuses
          in: query
          schema:
            type: array
            items:
              type: App\Enums\CompanyAccountStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  total: { description: 'Total count of numbers (without deleted)', type: integer }
                  active: { description: 'Total count of active numbers', type: integer }
                  offline: { description: 'Total count of offline numbers', type: integer }
                  forwardContacts: { description: 'Total count of forwarding numbers', type: integer }
                  portRequests: { description: 'Total count of port requests', type: integer }
                type: object
  /numbers/order:
    post:
      tags:
        - Numbers
      summary: 'Purchase A Number'
      description: 'Purchase a Number'
      operationId: purchaseNumber
      requestBody:
        description: 'Purchase a number request'
        required: true
        content:
          application/json:
            schema:
              required:
                - number
                - company_id
              properties:
                label:
                  description: 'A label for the number'
                  type: string
                  example: 'Sales Line'
                use_extensions:
                  description: 'Whether to use extensions'
                  type: boolean
                record:
                  description: 'Whether to record calls'
                  type: boolean
                routes:
                  description: 'Routing configuration'
                  type: array
                  items: { type: object }
                number:
                  description: 'The phone number to purchase'
                  type: string
                  example: '+18005551234'
                provider_id:
                  description: 'The ID of the provider to use'
                  type: integer
                  example: 1
                company_id:
                  description: 'The ID of the company to purchase the number for'
                  type: integer
                  example: 123
                fax_notification_email:
                  description: 'Email to notify for fax'
                  type: string
                  format: email
                number_template_id:
                  description: 'ID of the number template to apply'
                  type: integer
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  number: { type: App\Http\Resources\NumberResource }
                type: object
  '/numbers/{number}':
    put:
      tags:
        - Numbers
      summary: 'Update Number'
      description: 'Update the specified resource in storage.'
      operationId: 35187c159671efbdd9d0168621e52eee
      parameters:
        -
          parameter: number
          name: number
          in: path
          description: 'The ID of the number to update'
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Update number request'
        required: true
        content:
          application/json:
            schema:
              properties:
                label:
                  description: 'A label for the number'
                  type: string
                  example: 'Sales Line'
                use_extensions:
                  description: 'Whether to use extensions'
                  type: boolean
                record:
                  description: 'Whether to record calls'
                  type: boolean
                routes:
                  description: 'Routing configuration'
                  type: array
                  items: { properties: { forwards: { description: 'Forward destinations', type: array, items: { properties: { number: { description: 'Forward to number', type: string, example: '+18005551234' }, geo_by_state: { description: 'Geo routing by state', type: array, items: { type: string } } }, type: object } }, geo_by_state_enabled: { description: 'Whether geo routing by state is enabled', type: boolean }, geo_by_state_static_fallback: { description: 'Whether to use static fallback for geo routing', type: boolean } }, type: object }
                sms_enabled:
                  description: 'Whether SMS is enabled'
                  type: boolean
                mms_enabled:
                  description: 'Whether MMS is enabled'
                  type: boolean
                sms_notification_email:
                  description: 'Email to notify for SMS'
                  type: string
                  format: email
                sms_notification_email_additional:
                  description: 'Additional emails to notify for SMS'
                  type: array
                  items: { type: string, format: email }
                voicemail_notification_email:
                  description: 'Email to notify for voicemail'
                  type: string
                  format: email
                voicemail_notification_email_additional:
                  description: 'Additional emails to notify for voicemail'
                  type: array
                  items: { type: string, format: email }
                fax_notification_email:
                  description: 'Email to notify for fax'
                  type: string
                  format: email
                fax_notification_email_additional:
                  description: 'Additional emails to notify for fax'
                  type: array
                  items: { type: string, format: email }
                number_template_id:
                  description: 'ID of the number template to apply'
                  type: integer
                sms_notification_phone:
                  description: 'Phone number to notify for SMS'
                  type: string
                  example: '+18005551234'
                sms_notification_phone_additional:
                  description: 'Additional phone numbers to notify for SMS'
                  type: array
                  items: { type: string, example: '+18005551234' }
                voicemail_notification_phone:
                  description: 'Phone number to notify for voicemail'
                  type: string
                  example: '+18005551234'
                voicemail_notification_phone_additional:
                  description: 'Additional phone numbers to notify for voicemail'
                  type: array
                  items: { type: string, example: '+18005551234' }
                tags:
                  description: 'Array of tag IDs'
                  type: array
                  items: { type: integer }
              type: object
      responses:
        '200':
          description: 'Updated successfully'
  '/companies/{company}/contacts':
    put:
      tags:
        - Contacts
      summary: 'Import Contacts'
      description: 'Import a list of contacts'
      operationId: importContacts
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ImportContactsRequest'
      responses:
        '204':
          description: 'Contacts have been successfully imported.'
        '202':
          description: "Contacts will be imported asynchronously. This response contains batch information that can be used to check the progress.\n\nProgress can be tracked by polling the progress endpoint, or via webhooks. You can listen to the\n`contact-import-batch-progress-updated` event on the `companies@{company}` channel. The event payload will be a `ContactImportBatch`."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactImportBatch'
  '/companies/{company}/contacts/progress/{batchId}':
    get:
      tags:
        - Contacts
      summary: 'Get Progress'
      description: 'Get the progress for a past import.'
      operationId: getContactImportProgress
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: batchId
          name: batchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: 'Contacts will be imported asynchronously. This response contains batch information that can be used to check the progress.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactImportBatch'
  '/companies/{company}/contacts/bulkDestroy':
    post:
      tags:
        - Contacts
      summary: 'Bulk Delete Contacts'
      description: 'Delete multiple contacts'
      operationId: bulkDeleteContacts
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ContactBulkOperationRequest'
      responses:
        '202':
          description: 'Contacts are deleting.'
          content:
            application/json:
              schema: {  }
  '/companies/{company}/contacts/bulkExport':
    post:
      tags:
        - Contacts
      summary: 'Bulk Export Contacts'
      description: 'Export multiple contacts'
      operationId: bulkExportContacts
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ContactBulkOperationRequest'
      responses:
        '202':
          description: 'Contacts are exporting.'
          content:
            application/json:
              schema: {  }
  '/companies/{company}/contactLabels/{contactLabel}/bulkAddLabel':
    post:
      tags:
        - Contacts
      summary: 'Bulk Add Contact Labels'
      description: 'Add a label to multiple contacts.'
      operationId: bulkAddContactLabels
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: contactLabel
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ContactBulkOperationRequest'
      responses:
        '202':
          description: 'Contact labels are being added.'
          content:
            application/json:
              schema: {  }
  '/companies/{company}/contactLabels/{contactLabel}/bulkRemoveLabel':
    post:
      tags:
        - Contacts
      summary: 'Bulk Remove Contact Labels'
      description: 'Remove a label from multiple contacts.'
      operationId: bulkRemoveContactLabels
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: contactLabel
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ContactBulkOperationRequest'
      responses:
        '202':
          description: 'Contact labels are being removed.'
          content:
            application/json:
              schema: {  }
  /v1/contacts:
    get:
      tags:
        - Contacts
      summary: 'List contacts'
      description: 'Retrieve a list of contacts for a company'
      operationId: 83a13d25bedd5ea8b4ddec2ce567bd67
      parameters:
        -
          name: company_id
          in: query
          description: 'The company for which to list the contacts'
          required: true
          schema:
            type: integer
        -
          name: page
          in: query
          description: 'The page of contacts'
          schema:
            type: integer
            default: 1
            minimum: 1
        -
          name: size
          in: query
          description: 'The number of contacts returned on one page'
          schema:
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        -
          name: dir
          in: query
          description: 'Sort direction'
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { properties: { id: { type: string }, number: { type: string }, name: { type: string, nullable: true }, email: { type: string, nullable: true }, address1: { type: string, nullable: true }, state: { type: string, nullable: true }, zip: { type: string, nullable: true }, city: { type: string, nullable: true }, notes: { type: string, nullable: true }, custom: { type: object, nullable: true }, is_unsubscribed: { type: boolean, nullable: true } }, type: object } }
                  meta: { properties: { pagination: { properties: { total: { type: integer }, count: { type: integer }, per_page: { type: integer }, current_page: { type: integer }, total_pages: { type: integer } }, type: object } }, type: object }
                type: object
        '422':
          description: 'Validation error'
          content:
            application/json:
              schema:
                properties:
                  errors: { type: array, items: { type: string } }
                type: object
    post:
      tags:
        - Contacts
      summary: 'Create contact'
      description: 'Create a new contact for a company'
      operationId: e5f5e68bc9ba92b6ae50fa5339c0e2d8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - company_id
                - number
              properties:
                company_id:
                  description: 'The company ID for which to create the contact'
                  type: integer
                  example: 123
                number:
                  description: "The contact's phone number"
                  type: string
                  example: '+18005551234'
                name:
                  description: "The contact's name"
                  type: string
                  example: 'John Doe'
                  nullable: true
                email:
                  description: "The contact's email address"
                  type: string
                  format: email
                  example: john.doe@example.com
                  nullable: true
                address1:
                  description: "The contact's address line 1"
                  type: string
                  example: '123 Main St'
                  nullable: true
                state:
                  description: "The contact's state"
                  type: string
                  example: CA
                  nullable: true
                zip:
                  description: "The contact's zip code"
                  type: string
                  example: '90210'
                  nullable: true
                city:
                  description: "The contact's city"
                  type: string
                  example: 'Los Angeles'
                  nullable: true
                notes:
                  description: 'Notes about the contact'
                  type: string
                  example: 'Prefers to be contacted in the evening'
                  nullable: true
                custom:
                  description: 'Custom JSON data for the contact'
                  type: object
                  example: '{"preferred_contact_method": "email"}'
                  nullable: true
                is_unsubscribed:
                  description: 'Whether the contact has unsubscribed'
                  type: boolean
                  example: false
                  nullable: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data: { properties: { id: { type: string }, number: { type: string }, name: { type: string, nullable: true }, email: { type: string, nullable: true }, address1: { type: string, nullable: true }, state: { type: string, nullable: true }, zip: { type: string, nullable: true }, city: { type: string, nullable: true }, notes: { type: string, nullable: true }, custom: { type: object, nullable: true }, is_unsubscribed: { type: boolean, nullable: true } }, type: object }
                type: object
        '422':
          description: 'Validation error'
          content:
            application/json:
              schema:
                properties:
                  errors: { type: array, items: { type: string } }
                type: object
  '/v1/contacts/{contact_id}':
    get:
      tags:
        - Contacts
      summary: 'Get contact'
      description: 'Retrieve a specific contact by ID'
      operationId: 01d07aac3338fe4cb4dcc283236dd006
      parameters:
        -
          name: contact_id
          in: path
          description: 'The ID of the contact to retrieve'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data: { properties: { id: { type: string }, number: { type: string }, name: { type: string, nullable: true }, email: { type: string, nullable: true }, address1: { type: string, nullable: true }, state: { type: string, nullable: true }, zip: { type: string, nullable: true }, city: { type: string, nullable: true }, notes: { type: string, nullable: true }, custom: { type: object, nullable: true }, is_unsubscribed: { type: boolean, nullable: true } }, type: object }
                type: object
        '404':
          description: 'Contact not found'
    delete:
      tags:
        - Contacts
      summary: 'Delete contact'
      description: 'Delete an existing contact'
      operationId: e617aac31dce021fbf83b5492a60aaf4
      parameters:
        -
          name: contact_id
          in: path
          description: 'The ID of the contact to delete'
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 'No content - Contact successfully deleted'
        '422':
          description: 'Validation error'
          content:
            application/json:
              schema:
                properties:
                  errors: { type: array, items: { type: string } }
                type: object
    patch:
      tags:
        - Contacts
      summary: 'Update contact'
      description: 'Update an existing contact'
      operationId: 0e843ca242bda79a5a2682fe1598b90d
      parameters:
        -
          name: contact_id
          in: path
          description: 'The ID of the contact to update'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                number:
                  description: "The contact's phone number"
                  type: string
                  example: '+18005551234'
                name:
                  description: "The contact's name"
                  type: string
                  example: 'John Doe'
                  nullable: true
                email:
                  description: "The contact's email address"
                  type: string
                  format: email
                  example: john.doe@example.com
                  nullable: true
                address1:
                  description: "The contact's address line 1"
                  type: string
                  example: '123 Main St'
                  nullable: true
                state:
                  description: "The contact's state"
                  type: string
                  example: CA
                  nullable: true
                zip:
                  description: "The contact's zip code"
                  type: string
                  example: '90210'
                  nullable: true
                city:
                  description: "The contact's city"
                  type: string
                  example: 'Los Angeles'
                  nullable: true
                notes:
                  description: 'Notes about the contact'
                  type: string
                  example: 'Prefers to be contacted in the evening'
                  nullable: true
                custom:
                  description: 'Custom JSON data for the contact'
                  type: object
                  example: '{"preferred_contact_method": "email"}'
                  nullable: true
                is_unsubscribed:
                  description: 'Whether the contact has unsubscribed'
                  type: boolean
                  example: false
                  nullable: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data: { properties: { id: { type: string }, number: { type: string }, name: { type: string, nullable: true }, email: { type: string, nullable: true }, address1: { type: string, nullable: true }, state: { type: string, nullable: true }, zip: { type: string, nullable: true }, city: { type: string, nullable: true }, notes: { type: string, nullable: true }, custom: { type: object, nullable: true }, is_unsubscribed: { type: boolean, nullable: true } }, type: object }
                type: object
        '422':
          description: 'Validation error'
          content:
            application/json:
              schema:
                properties:
                  errors: { type: array, items: { type: string } }
                type: object
  '/companies/{company}/forwards':
    get:
      tags:
        - Companies
      summary: 'Get Forwards'
      operationId: getCompanyForwards
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: query
          name: query
          in: query
          required: false
          schema:
            type: string
        -
          parameter: source
          name: source
          in: query
          required: false
          schema:
            type: string
            enum:
              - configuration
              - call
              - historic
        -
          parameter: selectedNumberIds
          name: selectedNumberIds
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
        -
          parameter: per_page
          name: per_page
          in: query
          required: false
          schema:
            type: integer
        -
          parameter: page
          name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - { type: App\Http\Resources\Api\Companies\ForwardsCollection }
                  - { $ref: '#/components/schemas/PaginatedResource' }
  /companies/slim:
    get:
      tags:
        - Companies
      summary: 'Get a lightweight list of companies'
      description: 'Returns a paginated list of companies with minimal data. This endpoint is optimized for performance and returns only essential company information. Typically, a blank request is sufficient for most users as no parameters are required.'
      operationId: edd3f65a041ebcebb07976c9583d6b9f
      parameters:
        -
          name: business_units
          in: query
          description: 'Filter by business unit IDs'
          required: false
          schema:
            type: array
            items:
              type: integer
        -
          name: account_statuses
          in: query
          description: 'Filter by account status IDs'
          required: false
          schema:
            type: array
            items:
              type: integer
        -
          name: query
          in: query
          description: 'Search query to filter companies by name'
          required: false
          schema:
            type: string
        -
          name: sort_by
          in: query
          description: 'Field to sort by'
          required: false
          schema:
            type: string
        -
          name: sort_direction
          in: query
          description: 'Sort direction (asc or desc)'
          required: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        -
          name: per_page
          in: query
          description: 'Number of items per page'
          required: false
          schema:
            type: integer
            default: 15
        -
          name: page
          in: query
          description: 'Page number'
          required: false
          schema:
            type: integer
            default: 1
        -
          name: include
          in: query
          description: 'Relations to include'
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: 'Successful operation'
          content:
            application/json:
              schema:
                properties:
                  data: { type: array, items: { properties: { id: { type: integer }, name: { type: string }, slug: { type: string }, has_unpaid_subscription: { type: boolean }, has_inactive_subscription: { type: boolean } }, type: object } }
                  links: { properties: { first: { type: string }, last: { type: string }, prev: { type: string, nullable: true }, next: { type: string, nullable: true } }, type: object }
                  meta: { properties: { current_page: { type: integer }, from: { type: integer }, last_page: { type: integer }, path: { type: string }, per_page: { type: integer }, to: { type: integer }, total: { type: integer } }, type: object }
                type: object
  /activity:
    get:
      tags:
        - Calls
        - Activities
      summary: 'List Activities'
      description: 'Display a listing of the resource.'
      operationId: 62e729339ad731c11a804a79624f36ae
      parameters:
        -
          name: filter
          in: query
          description: 'See [@ActivityFilterSchema](#/schemas/ActivityFilterSchema)'
          required: false
          schema:
            $ref: '#/components/schemas/ActivityFilterSchema'
      responses:
        '200':
          description: ActivityCollection
  /v2/calls:
    get:
      tags:
        - Calls
      summary: 'List Calls'
      operationId: 7edfbd05baefee1f794bff8f2bf13103
      parameters:
        -
          $ref: '#/components/parameters/CompanyIdQueryString'
        -
          $ref: '#/components/parameters/Cursor'
        -
          $ref: '#/components/parameters/CursorPageSize'
        -
          parameter: startDate
          name: startDate
          in: query
          schema:
            type: string
            format: datetime
        -
          parameter: endDate
          name: endDate
          in: query
          schema:
            type: string
            format: datetime
        -
          parameter: state
          name: state
          in: query
          schema:
            type: string
            default: completed
            enum:
              - completed
              - started
              - ringing
              - answer
              - disconnected
        -
          parameter: children
          name: children
          in: query
          schema:
            type: boolean
            default: false
            nullable: true
      responses:
        '200':
          $ref: '#/components/responses/CallCollection'
  '/v2/calls/{callId}/activity':
    get:
      tags:
        - Calls
        - Activities
      summary: 'Get Activity by Call ID'
      description: 'Get activity by call ID.'
      operationId: 3a16be3e569b75135986038af1426380
      parameters:
        -
          name: callId
          in: path
          description: 'Call ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Call activity'
          content:
            application/json:
              schema:
                properties:
                  id: { type: integer, example: 12345 }
                  company_id: { type: integer, example: 678 }
                  date: { type: string, example: '2025-10-27 14:30:00' }
                  timestamp: { type: integer, example: 1730038200 }
                  from: { type: string, example: '+15551234567' }
                  to: { type: string, example: '+15559876543' }
                  extension: { type: string, example: '101', nullable: true }
                  duration: { type: integer, example: 180 }
                  recording: { type: string, example: 'https://example.com/recording.mp3', nullable: true }
                  media: { type: string, example: 'https://example.com/recording.mp3', nullable: true }
                  voicemail: { type: boolean, example: false }
                  started_at: { type: string, format: date-time, example: '2025-10-27T14:30:00Z' }
                  created_at: { type: string, format: date-time, example: '2025-10-27T14:30:00Z' }
                  ended_at: { type: string, format: date-time, example: '2025-10-27T14:33:00Z' }
                  eavAttributeValues: { type: object, example: [] }
                  dniActivity: { properties: { id: { type: integer, example: 1001 }, sessionId: { type: string, format: uuid, example: 550e8400-e29b-41d4-a716-446655440000 }, source: { type: string, example: google }, utmCampaign: { type: string, example: summer_sale, nullable: true }, utmMedium: { type: string, example: cpc, nullable: true }, utmSource: { type: string, example: google, nullable: true }, date: { type: string, format: date-time, example: '2025-10-27T14:30:00Z' }, landingPage: { type: string, example: 'https://example.com/products' }, browserOrDevice: { type: string, example: Chrome/Desktop, nullable: true }, gclid: { type: string, example: abc123def456, nullable: true }, msclkid: { type: string, example: null, nullable: true }, fbclid: { type: string, example: null, nullable: true }, trackingNumberLabel: { type: string, example: 'Main Campaign' }, referrer: { type: string, example: 'https://google.com', nullable: true }, type: { type: string, enum: [call, message, fax], example: call }, duration: { type: integer, example: 180 }, customerPhoneNumber: { type: string, example: '+15551234567' } }, type: object }
                type: object
        '404':
          description: 'Call activity not found'
  /v2/callsByCallee:
    get:
      tags:
        - Calls
      summary: 'List Calls By Callee'
      operationId: 1b1bf0f38e4e7c8c6f15b1ff8bb91f4f
      parameters:
        -
          $ref: '#/components/parameters/CompanyIdQueryString'
        -
          $ref: '#/components/parameters/Cursor'
        -
          $ref: '#/components/parameters/CursorPageSize'
        -
          parameter: startDate
          name: startDate
          in: query
          schema:
            type: string
            format: datetime
        -
          parameter: endDate
          name: endDate
          in: query
          schema:
            type: string
            format: datetime
        -
          parameter: state
          name: state
          in: query
          schema:
            type: string
            default: completed
            enum:
              - completed
              - started
              - ringing
              - answer
              - disconnected
        -
          parameter: include
          name: include
          in: query
          description: 'Comma-separated list of additional data to include. Supported: eavAttributeValues'
          required: false
          schema:
            type: string
            example: eavAttributeValues
      responses:
        '200':
          $ref: '#/components/responses/CalleeCollection'
  /calls/export:
    get:
      tags:
        - Calls
        - Activities
      summary: 'Export a report containing calls'
      operationId: ef5247a7d562ee064ffca8b4e489bb10
      parameters:
        -
          name: filter
          in: query
          description: 'See [@ActivityFilterSchema](#/schemas/ActivityFilterSchema)'
          required: false
          schema:
            $ref: '#/components/schemas/ActivityFilterSchema'
      responses:
        '200':
          description: ''
  '/v2/companies/{company}/webhooks':
    get:
      tags:
        - Webhooks
      summary: 'List Webhooks'
      operationId: de78c0ef69ca4137b64486d6293d4cb1
      parameters:
        -
          $ref: '#/components/parameters/CompanyId'
        -
          $ref: '#/components/parameters/Cursor'
        -
          $ref: '#/components/parameters/CursorPageSize'
      responses:
        '200':
          $ref: '#/components/responses/WebhookCollection'
    post:
      tags:
        - Webhooks
      summary: 'Create Webhook'
      operationId: 4318b345469fab926619f25bc193665a
      parameters:
        -
          $ref: '#/components/parameters/CompanyId'
      requestBody:
        $ref: '#/components/requestBodies/StoreWebhookRequest'
      responses:
        '201':
          $ref: '#/components/responses/WebhookResource'
        '401':
          description: Unauthenticated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
        '403':
          description: Unauthorized
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
        '422':
          description: 'Unprocessable Entity'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\ValidationError
        '429':
          description: 'Too many requests'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
      callbacks:
        onEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: '#/components/requestBodies/WebhookRequest'
              responses:
                '200':
                  description: OK
  '/v2/companies/{company}/webhooks/{webhook}':
    put:
      tags:
        - Webhooks
      summary: 'Update Webhook'
      operationId: f597a95d8caa30834e6020889b3a15bf
      parameters:
        -
          $ref: '#/components/parameters/CompanyId'
        -
          $ref: '#/components/parameters/WebhookId'
      requestBody:
        $ref: '#/components/requestBodies/UpdateWebhookRequest'
      responses:
        '200':
          $ref: '#/components/responses/WebhookResource'
        '401':
          description: Unauthenticated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
        '403':
          description: Unauthorized
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
        '422':
          description: 'Unprocessable Entity'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\ValidationError
        '429':
          description: 'Too many requests'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Public\V2\Common\Types\Error
      callbacks:
        onEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: '#/components/requestBodies/WebhookRequest'
              responses:
                '200':
                  description: OK
    delete:
      tags:
        - Webhooks
      summary: 'Delete Webhook'
      operationId: cf7b4e23527a703b3dae2b244a28b506
      parameters:
        -
          $ref: '#/components/parameters/CompanyId'
        -
          $ref: '#/components/parameters/WebhookId'
      responses:
        '204':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
  /eavAttributes:
    get:
      tags:
        - EAV
      summary: 'Get EAV attributes'
      operationId: fetchEavAttributes
      parameters:
        -
          parameter: companyId
          name: companyId
          in: query
          required: false
          schema:
            type: integer
        -
          parameter: eavEntityType
          name: eavEntityType
          in: query
          required: false
          schema:
            type: integer
        -
          parameter: eavEntityTypes
          name: eavEntityTypes
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
        -
          parameter: page
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        -
          parameter: perPage
          name: perPage
          in: query
          required: false
          schema:
            type: integer
            default: 100
        -
          parameter: createdBy
          name: createdBy
          in: query
          required: false
          schema:
            type: array
            items:
              properties:
                id:
                  type: integer
                type:
                  type: string
                  enum: [user, business_unit, system]
              type: object
        -
          parameter: businessUnitId
          name: businessUnitId
          in: query
          required: false
          schema:
            type: integer
        -
          parameter: query
          name: query
          in: query
          required: false
          schema:
            type: string
        -
          parameter: dataGroups
          name: dataGroups
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
        -
          parameter: sortBy
          name: sortBy
          in: query
          description: 'Supported: attribute_code, order, createdBy.*, eavEntityType.*'
          required: false
          schema:
            type: string
            default: attribute_code
            example: attribute_code
        -
          parameter: sortDirection
          name: sortDirection
          in: query
          required: false
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\EavAttributeCollection
  '/eavAttributes/{eavAttribute}':
    get:
      tags:
        - EAV
      summary: 'Get EAV Attribute Overrides'
      operationId: getEavAttributeOverrides
      parameters:
        -
          parameter: eavAttribute
          name: eavAttribute
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  properties: { id: { type: integer }, label: { type: string }, context: { properties: { id: { type: integer }, name: { type: string } }, type: object } }
                  type: object
    delete:
      tags:
        - EAV
      summary: 'Delete an EAV Attribute'
      operationId: deleteEavAttribute
      parameters:
        -
          parameter: eavAttribute
          name: eavAttribute
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\EavAttributeCollection
  '/eavEntityTypes/{eavEntityType}/eavAttributes':
    post:
      tags:
        - EAV
      summary: 'Create an EAV Attribute'
      operationId: createEavAttribute
      parameters:
        -
          parameter: eavEntityType
          name: eavEntityType
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: App\Http\Requests\Api\EavAttributes\StoreRequest
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\EavAttributeCollection
  '/eavAttributes/{eavAttribute}/countStats':
    get:
      tags:
        - EAV
      summary: 'Get EAV Attribute Stats'
      operationId: countEavAttributeStats
      parameters:
        -
          parameter: eavAttribute
          name: eavAttribute
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  total: { description: 'Total number of unique entities with this a value(s) for this attribute.', type: integer }
                  eav_attribute_option_counts: { type: array, items: { properties: { eav_attribute_option_id: { type: integer }, count: { type: integer } }, type: object } }
                type: object
  '/eavEntityTypes/{eavEntityType}/eavAttributes/{eavAttribute}':
    put:
      tags:
        - EAV
      summary: 'Update an EAV Attribute'
      operationId: updateEavAttribute
      parameters:
        -
          parameter: eavEntityType
          name: eavEntityType
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: App\Http\Requests\Api\EavAttributes\UpdateRequest
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\EavAttributeCollection
  /defaultAiEavAttributes:
    get:
      tags:
        - EAV
      summary: 'Get Default AI EAV attributes'
      operationId: fetchDefaultAiEavAttributes
      parameters:
        -
          parameter: eavEntityType
          name: eavEntityType
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\EavAttributeCollection
  /eavEntityTypes:
    get:
      tags:
        - EAV
      summary: 'Get EAV Entity Types'
      operationId: fetchEavEntityTypes
      parameters:
        -
          parameter: page
          name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        -
          parameter: perPage
          name: perPage
          in: query
          required: false
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: 'A full list of EAV entity types'
          content:
            application/json:
              schema:
                type: App\Http\Resources\Api\Company\EavEntityTypeCollection
  '/companies/{company}/agents':
    get:
      tags:
        - 'AI Agent'
      summary: 'List agents'
      description: 'GET /companies/{company}/agents?business_unit_id='
      operationId: listAgents
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: businessUnitId
          in: query
          required: false
          schema:
            type: integer
        -
          name: query
          in: query
          description: 'Search by name or creator'
          required: false
          schema:
            type: string
        -
          name: template
          in: query
          description: 'Filter by template ID'
          required: false
          schema:
            type: integer
        -
          name: createdBy
          in: query
          description: 'Filter by creator name'
          required: false
          schema:
            type: string
        -
          name: sortBy
          in: query
          required: false
          schema:
            type: string
            default: id
        -
          name: sortDirection
          in: query
          required: false
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        '200':
          description: 'List of agents'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentResource'
    post:
      tags:
        - 'AI Agent'
      summary: 'Create an agent'
      description: 'POST /companies/{company}/agents'
      operationId: createAgent
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - voiceId
              properties:
                business_unit_id:
                  type: integer
                  nullable: true
                agentName:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
                companyName:
                  type: string
                  nullable: true
                website:
                  type: string
                  nullable: true
                googlePlaceId:
                  type: string
                  nullable: true
                voiceId:
                  type: string
                voiceLanguage:
                  type: string
                  nullable: true
                scheduleId:
                  type: integer
                  nullable: true
                voicemailFallbackEnabled:
                  type: boolean
                  nullable: true
                escalationPolicy:
                  type: string
                  nullable: true
                pronunciationAliases:
                  type: array
                  items: { properties: { type: { type: string, enum: [text, dynamicVariable] }, stringToReplace: { type: string, nullable: true }, dynamicVariableKey: { type: string, nullable: true }, alias: { type: string }, caseSensitive: { type: boolean }, wordBoundaries: { type: boolean } }, type: object }
                  nullable: true
              type: object
      responses:
        '202':
          description: "Agent creation happens asynchronously. This response contains batch information that can be used to check progress.\n\nYou can listen to the `agent-create-completed` event on the `companies@{company}` channel.\nProgress updates are broadcast as `agent-create-progress` on the same channel.\nThe event payload will be an `AgentCreateResult`."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateBatch'
  '/companies/{company}/agents/{agent}':
    get:
      tags:
        - 'AI Agent'
      summary: 'Get an agent'
      description: 'GET /companies/{company}/agents/{agent}'
      operationId: getAgent
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Agent details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '404':
          description: 'Agent not found'
    put:
      tags:
        - 'AI Agent'
      summary: 'Update an agent'
      description: 'PUT /companies/{company}/agents/{agent}'
      operationId: updateAgent
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
                voiceId:
                  type: string
                  nullable: true
                voiceLanguage:
                  type: string
                  nullable: true
                firstMessage:
                  type: string
                  nullable: true
                prompt:
                  type: string
                  nullable: true
                scheduleId:
                  type: integer
                  nullable: true
                voicemailFallbackEnabled:
                  type: boolean
                  nullable: true
                escalationPolicy:
                  type: string
                  nullable: true
                dynamicVariables:
                  type: object
                  nullable: true
                  additionalProperties: true
                toolIds:
                  type: array
                  items: { type: string }
                  nullable: true
                knowledgeBaseIds:
                  type: array
                  items: { type: integer }
                  nullable: true
                calendarSource:
                  properties: { type: { type: string, enum: [calendar, googlecalendar, calendly] }, id: { type: integer } }
                  type: object
                  nullable: true
                fallbacks:
                  type: array
                  items: { properties: { id: { type: integer, nullable: true }, label: { type: string }, phoneNumber: { type: string } }, type: object }
                  nullable: true
                skills:
                  type: array
                  items: { properties: { id: { type: integer }, enabled: { type: boolean, nullable: true }, name: { type: string, nullable: true }, description: { type: string, nullable: true }, toolIds: { type: array, items: { type: string }, nullable: true }, knowledgeBaseIds: { type: array, items: { type: integer }, nullable: true }, dataGroupId: { type: integer, nullable: true } }, type: object }
                  nullable: true
                pronunciationAliases:
                  type: array
                  items: { properties: { type: { type: string, enum: [text, dynamicVariable] }, stringToReplace: { type: string, nullable: true }, dynamicVariableKey: { type: string, nullable: true }, alias: { type: string }, caseSensitive: { type: boolean }, wordBoundaries: { type: boolean } }, type: object }
                  nullable: true
              type: object
      responses:
        '200':
          description: 'Agent updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
        '404':
          description: 'Agent not found'
    delete:
      tags:
        - 'AI Agent'
      summary: 'Delete an agent'
      description: 'DELETE /companies/{company}/agents/{agent}'
      operationId: deleteAgent
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: agent
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Agent deleted successfully'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Agent deleted successfully' }
                type: object
        '404':
          description: 'Agent not found'
        '422':
          description: 'Cannot delete agent (has active assignments)'
          content:
            application/json:
              schema:
                properties:
                  message: { type: string, example: 'Cannot delete agent. It is currently assigned to 2 resource(s), including numbers and call flows.' }
                type: object
  '/companies/{company}/agents/progress/{batchId}':
    get:
      tags:
        - 'AI Agent'
      summary: 'Get Agent Create Progress'
      description: 'Get the progress for an agent creation batch.'
      operationId: getAgentCreateProgress
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: batchId
          name: batchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: 'Agent creation is running or has completed. The response includes a batch payload and may include a result when available.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateProgress'
  '/companies/{company}/agents/{agent}/assignments':
    get:
      tags:
        - 'AI Agent'
      summary: 'Get agent assignments to numbers and number templates'
      description: 'GET /companies/{company}/agents/{agent}/assignments'
      operationId: getAgentAssignments
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: agent
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'List of agent assignments'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentAssignmentResource'
        '404':
          description: 'Agent not found'
  '/companies/{company}/agents/phone_numbers':
    get:
      tags:
        - 'AI Agent'
      summary: 'List ElevenLabs phone numbers provisioned for agents'
      description: 'GET /companies/{company}/agents/phone_numbers'
      operationId: getAgentPhoneNumbers
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: agentId
          in: query
          description: 'Filter by agent ID'
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 'List of ElevenLabs phone numbers'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /agent-voices:
    get:
      tags:
        - 'AI Agent'
      summary: 'List available ElevenLabs voices'
      description: 'GET /agent-voices'
      operationId: listAgentVoices
      parameters:
        -
          name: category
          in: query
          description: 'Filter by voice category'
          required: false
          schema:
            type: string
        -
          name: is_owner
          in: query
          description: 'Filter to voices owned by the account'
          required: false
          schema:
            type: boolean
        -
          name: name
          in: query
          description: 'Search by voice name'
          required: false
          schema:
            type: string
        -
          name: page_token
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'List of available voices'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /agent-models:
    get:
      tags:
        - 'AI Agent'
      summary: 'List available ElevenLabs LLM models'
      description: 'GET /agent-models'
      operationId: listAgentModels
      responses:
        '200':
          description: 'List of available models'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /agent-voices/test:
    post:
      tags:
        - 'AI Agent'
      summary: 'Preview agent voice with optional pronunciation aliases'
      description: 'POST /agent-voices/test'
      operationId: testAgentVoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - voiceId
                - text
              properties:
                voiceId:
                  type: string
                voiceLanguage:
                  type: string
                  nullable: true
                languageCode:
                  type: string
                  nullable: true
                text:
                  type: string
                dynamicVariables:
                  type: object
                  nullable: true
                pronunciationAliases:
                  type: array
                  items: { properties: { type: { type: string, enum: [text, dynamicVariable] }, stringToReplace: { type: string, nullable: true }, dynamicVariableKey: { type: string, nullable: true }, alias: { type: string }, caseSensitive: { type: boolean }, wordBoundaries: { type: boolean } }, type: object }
                  nullable: true
              type: object
      responses:
        '200':
          description: 'Preview audio stream'
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
  '/companies/{company}/agents/{agent}/test-token':
    get:
      tags:
        - 'AI Agent'
      summary: 'Get a signed URL for testing the agent via WebSocket'
      description: 'Returns a short-lived signed WebSocket URL from ElevenLabs that can be used to start a real-time voice conversation with the agent for testing purposes.'
      operationId: getAgentTestToken
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Signed URL and dynamic variables for the WebSocket connection'
          content:
            application/json:
              schema:
                properties:
                  signedUrl: { description: 'WebSocket URL for connecting to the agent (valid ~30 minutes)', type: string }
                  dynamicVariables: { description: 'Variables to inject when opening the WebSocket connection', type: object, additionalProperties: true }
                type: object
        '422':
          description: 'Agent not yet deployed'
  '/companies/{company}/agents/{agent}/skills':
    post:
      tags:
        - 'AI Agent'
      summary: 'Add a skill to an agent from a template'
      description: 'POST /companies/{company}/agents/{agent}/skills'
      operationId: addAgentSkill
      parameters:
        -
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          name: agent
          in: path
          description: 'Agent ID'
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - templateKey
              properties:
                templateKey:
                  description: 'Key of the skill template to instantiate'
                  type: string
                toolIds:
                  type: array
                  items: { type: string }
                  nullable: true
                knowledgeBaseIds:
                  type: array
                  items: { type: integer }
                  nullable: true
              type: object
      responses:
        '201':
          description: 'Skill created and attached to agent (disabled by default)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSkillResource'
  '/companies/{company}/agents/{agent}/skill-templates':
    post:
      tags:
        - 'AI Agent'
      summary: 'Assign skill templates to an agent'
      description: 'POST /companies/{company}/agents/{agent}/skill-templates'
      operationId: assignAgentSkillTemplates
      parameters:
        -
          parameter: company
          name: company
          in: path
          required: true
          schema:
            type: integer
        -
          parameter: agent
          name: agent
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - skillTemplates
              properties:
                skillTemplates:
                  type: array
                  items: { type: string }
              type: object
      responses:
        '200':
          description: 'Agent updated with skills'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResource'
  /ai/agent-dashboard:
    post:
      tags:
        - 'AI Agent'
      summary: 'AI Agent Dashboard'
      description: 'Get AI agent dashboard metrics and outcomes'
      operationId: getAiAgentDashboard
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                filter:
                  $ref: '#/components/schemas/ActivityFilterSchema'
              type: object
      responses:
        '200':
          description: 'AI agent dashboard data'
          content:
            application/json:
              schema:
                properties:
                  metrics: { properties: { totalCalls: { type: integer }, avgDuration: { type: number, format: float }, responseRate: { type: number, format: float }, fullyResolvedRate: { type: number, format: float } }, type: object }
                  negativeOutcomes: { type: array, items: { properties: { reason: { type: string }, count: { type: integer }, calls: { type: array, items: { properties: { callId: { type: integer }, caller: { type: string }, callerName: { type: string }, startedAt: { type: string, format: date-time } }, type: object } } }, type: object } }
                  positiveOutcomes: { type: array, items: { properties: { outcome: { type: string }, count: { type: integer } }, type: object } }
                  dailyTrend: { type: array, items: { properties: { date: { type: string }, totalAiCalls: { type: integer }, fullyResolvedCount: { type: integer }, resolutionRate: { type: number, format: float } }, type: object } }
                type: object
  /ai/agent-dashboard/agent-conversation/reviewed:
    post:
      tags:
        - 'AI Agent'
      summary: 'Mark AI agent conversation as reviewed'
      operationId: markAiAgentConversationReviewed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - callId
              properties:
                callId:
                  type: integer
              type: object
      responses:
        '200':
          description: 'Agent conversation marked as reviewed'
          content:
            application/json:
              schema:
                properties:
                  data: { $ref: '#/components/schemas/AgentConversationResource' }
                type: object
        '404':
          description: 'Conversation not found'
  /messages/export:
    get:
      tags:
        - Activities
      summary: 'Export a report containing messages'
      operationId: 10af19f31959124a37aa87d8fac735cc
      parameters:
        -
          name: filter
          in: query
          description: 'See [@ActivityFilterSchema](#/schemas/ActivityFilterSchema)'
          required: false
[...]
